.mnlnk-dump {
    background: #fefefe;
    padding: 4px 12px;
    color: #656d73;
    font: 12px Consolas, Menlo, "SF Mono", monospace;
    line-height: 20px;
    position: relative;
}
.mnlnk-dump a {
    transition: color 0.07s linear;
    padding: 0 4px;
    text-decoration: none;
    cursor: pointer;
    color: #c1c9cf;
}
.mnlnk-dump .md-open > a {
    padding: 0 5px;
}
.mnlnk-dump a:hover {
    color: #72787d;
}
.mnlnk-dump .md-wrap {
    /**/
}
.mnlnk-dump .md-row {
    display: block;
}
.mnlnk-dump .md-content {
    display: none;
    padding-left: 20px;
    transition: border-left-color 0.03s linear;
    border-left: #efefef solid 1px;
    margin-left: 2px;
}
.mnlnk-dump .md-row:hover > .md-open > .md-content,
.mnlnk-dump .md-row:hover.md-open > .md-content {
    border-left: #cbd4da solid 1px;
}
.mnlnk-dump .md-open > .md-content {
    display: block;
}
.mnlnk-dump .md-brackets,
.mnlnk-dump .md-braces,
.mnlnk-dump .md-parentheses {
    cursor: default;
    color: #5f6b77;
}
.mnlnk-dump .md-brackets,
.mnlnk-dump .md-braces {
    margin: 0 -2px;
    transition: 0.07s linear;
    padding: 1px 2px;
    border-radius: 3px;
}
.mnlnk-dump .md-brackets {
    /**/
}
.mnlnk-dump .md-braces {
    /**/
}
.mnlnk-dump .md-parentheses {
    /**/
}
.mnlnk-dump .md-row > .md-open > .md-braces.md-highlight,
.mnlnk-dump .md-row > .md-open > .md-brackets.md-highlight {
    background-color: #da756b;
    color: #f1f3f3;
}
.mnlnk-dump .md-operator {
    cursor: default;
    color: #67727c;
}
.mnlnk-dump .md-operator.md-return {
    padding: 0 6px;
}
.mnlnk-dump .md-null {
    color: #cd584c;
}
.mnlnk-dump .md-boolean {
    color: #cd584c;
}
.mnlnk-dump .md-number {
    color: #0a78d2;
}
.mnlnk-dump .md-string {
    color: #0f8c2c;
}
.mnlnk-dump .md-string .md-nel {
    color: #b9a80b;
}
.mnlnk-dump .md-string .md-collapse,
.mnlnk-dump .md-string.md-open > .md-expand {
    display: none;
}
.mnlnk-dump .md-string .md-expand,
.mnlnk-dump .md-string.md-open > .md-collapse {
    display: inline;
}
.mnlnk-dump .md-recursion {
    cursor: default;
    margin: 0 4px;
    border-radius: 3px;
    padding: 1px 3px;
    transition: 0.07s linear;
    color: #cd584c;
}
.mnlnk-dump .md-recursion:hover {
    color: #ffffff;
    background: #da756b;
}
.mnlnk-dump .md-array {
    /**/
}
.mnlnk-dump .md-object {
    /**/
}
.mnlnk-dump .md-object .md-namespace {
    color: #73828d;
}
.mnlnk-dump .md-object .md-namespace[data-ns] {
    cursor: pointer;
}
.mnlnk-dump .md-resource {
    color: #8f7f02;
}
.mnlnk-dump .md-object .md-class {
    color: #8f7f02;
}
.mnlnk-dump .md-object .md-hash {
    cursor: default;
    transition: 0.07s linear;
    border-radius: 3px;
    color: #b853ac;
    padding: 1px 3px;
    margin: 0 -3px;
}
.mnlnk-dump .md-object .md-hash.md-highlight {
    color: #ffffff;
    background: #b662aa;
}
.mnlnk-dump .md-object .md-modifier {
    cursor: default;
    color: #71a168;
}
.mnlnk-dump .md-object .md-modifier.md-static {
    color: #da6d6d;
}
.mnlnk-dump .md-object .md-property {
    color: #294249;
}
.mnlnk-dump .md-object .md-not-init {
    color: #7c96a6;
}
.mnlnk-dump .md-type {
    color: #5a7c91;
}
.mnlnk-dump .md-unknown {
    color: #717f8c;
}
