.mnlnk_dump {
    background: #fefefe;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 2px;
    color: #656d73;
    font: 12px Consolas, Menlo, "SF Mono", monospace;
    line-height: 20px;
    position: relative;
}
.mnlnk_dump a {
    transition: color 0.07s linear;
    padding: 0 4px;
    text-decoration: none;
    cursor: pointer;
    color: #c1c9cf;
}
.mnlnk_dump .open > a {
    padding: 0 5px;
}
.mnlnk_dump a:hover {
    color: #72787d;
}
.mnlnk_dump .block {
    margin-left: -2px;
}
.mnlnk_dump .row {
    display: block;
}
.mnlnk_dump .content {
    display: none;
    padding-left: 20px;
    transition: border-left-color 0.03s linear;
    border-left: #f5f5f5 solid 1px;
    margin-left: 2px;
}
.mnlnk_dump .row:hover > .open > .content,
.mnlnk_dump .row:hover.open > .content {
    border-left: #bbc9d2 solid 1px;
}
.mnlnk_dump .open > .content {
    display: block;
}
.mnlnk_dump .brackets,
.mnlnk_dump .braces,
.mnlnk_dump .parentheses {
    cursor: default;
    color: #656d73;
}
.mnlnk_dump .brackets,
.mnlnk_dump .braces {
    margin: 0 -2px;
    border-radius: 2px;
    padding: 1px 2px 1px 2px;
    transition: 0.07s linear;
}
.mnlnk_dump .row > .open > .braces.highlight,
.mnlnk_dump .row > .open > .brackets.highlight {
    background-color: #e7786c;
    color: #f1f3f3;
}
.mnlnk_dump .operator {
    cursor: default;
    color: #8d959b;
}
.mnlnk_dump .null {
    color: #cd584c;
}
.mnlnk_dump .boolean {
    color: #cd584c;
}
.mnlnk_dump .number {
    color: #2879de;
}
.mnlnk_dump .string {
    color: #2b9142;
}
.mnlnk_dump .string .nel {
    color: #b9a80b;
}
.mnlnk_dump .string .collapse,
.mnlnk_dump .string.open > .expand {
    display: none;
}
.mnlnk_dump .string .expand,
.mnlnk_dump .string.open > .collapse {
    display: inline;
}
.mnlnk_dump .recursion {
    cursor: default;
    margin: 0 4px;
    border-radius: 2px;
    padding: 1px 3px;
    transition: 0.07s linear;
    color: #cd584c;
}
.mnlnk_dump .recursion:hover {
    color: #ffffff;
    background: #ea8c82;
}
.mnlnk_dump .array {
    /**/
}
.mnlnk_dump .object {
    /**/
}
.mnlnk_dump .object .namespace {
    color: #838b91;
}
.mnlnk_dump .object .namespace[data-ns] {
    cursor: pointer;
}
.mnlnk_dump .object .class {
    color: #998807;
}
.mnlnk_dump .object .hash {
    cursor: default;
    transition: 0.07s linear;
    border-radius: 2px;
    color: #b853ac;
    padding: 1px 3px;
    margin: 0 -3px;
}
.mnlnk_dump .object .hash.highlight {
    color: #ffffff;
    background: #bf77b5;
}
.mnlnk_dump .object .modifier {
    cursor: default;
    color: #eb5b4f;
}
.mnlnk_dump .object .property {
    color: #3b5057;
}
.mnlnk_dump .object .not_init {
    color: #95aebf;
}
.mnlnk_dump .type {
    color: #99a578;
}
.mnlnk_dump .resource {
    color: #9b8a0b;
}
.mnlnk_dump .unknown {
    color: #7e8a95;
}
