.mnlnk_dump {
    background: #fefefe;
    padding: 4px 12px;
    color: #656d73;
    font: 12px Consolas, Menlo, "SF Mono", monospace;
    line-height: 20px;
    position: relative;
}
.mnlnk_dump a {
    transition: color 0.07s linear;
    padding: 0 4px;
    text-decoration: none;
    cursor: pointer;
    color: #c1c9cf;
}
.mnlnk_dump .md_open > a {
    padding: 0 5px;
}
.mnlnk_dump a:hover {
    color: #72787d;
}
.mnlnk_dump .md_block {
    /**/
}
.mnlnk_dump .md_row {
    display: block;
}
.mnlnk_dump .md_content {
    display: none;
    padding-left: 20px;
    transition: border-left-color 0.03s linear;
    border-left: #efefef solid 1px;
    margin-left: 2px;
}
.mnlnk_dump .md_row:hover > .md_open > .md_content,
.mnlnk_dump .md_row:hover.md_open > .md_content {
    border-left: #cbd4da solid 1px;
}
.mnlnk_dump .md_open > .md_content {
    display: block;
}
.mnlnk_dump .md_brackets,
.mnlnk_dump .md_braces,
.mnlnk_dump .md_parentheses {
    cursor: default;
    color: #5f6b77;
}
.mnlnk_dump .md_brackets,
.mnlnk_dump .md_braces {
    margin: 0 -2px;
    transition: 0.07s linear;
    padding: 1px 2px;
    border-radius: 3px;
}
.mnlnk_dump .md_brackets {
    /**/
}
.mnlnk_dump .md_braces {
    /**/
}
.mnlnk_dump .md_parentheses {
    /**/
}
.mnlnk_dump .md_row > .md_open > .md_braces.md_highlight,
.mnlnk_dump .md_row > .md_open > .md_brackets.md_highlight {
    background-color: #da756b;
    color: #f1f3f3;
}
.mnlnk_dump .md_operator {
    cursor: default;
    color: #67727c;
}
.mnlnk_dump .md_operator.md_return {
    padding: 0 6px;
}
.mnlnk_dump .md_null {
    color: #cd584c;
}
.mnlnk_dump .md_boolean {
    color: #cd584c;
}
.mnlnk_dump .md_number {
    color: #0a78d2;
}
.mnlnk_dump .md_string {
    color: #0f8c2c;
}
.mnlnk_dump .md_string .md_nel {
    color: #b9a80b;
}
.mnlnk_dump .md_string .md_collapse,
.mnlnk_dump .md_string.md_open > .md_expand {
    display: none;
}
.mnlnk_dump .md_string .md_expand,
.mnlnk_dump .md_string.md_open > .md_collapse {
    display: inline;
}
.mnlnk_dump .md_recursion {
    cursor: default;
    margin: 0 4px;
    border-radius: 3px;
    padding: 1px 3px;
    transition: 0.07s linear;
    color: #cd584c;
}
.mnlnk_dump .md_recursion:hover {
    color: #ffffff;
    background: #da756b;
}
.mnlnk_dump .md_array {
    /**/
}
.mnlnk_dump .md_object {
    /**/
}
.mnlnk_dump .md_object .md_namespace {
    color: #73828d;
}
.mnlnk_dump .md_object .md_namespace[data-ns] {
    cursor: pointer;
}
.mnlnk_dump .md_resource {
    color: #8f7f02;
}
.mnlnk_dump .md_object .md_class {
    color: #8f7f02;
}
.mnlnk_dump .md_object .md_hash {
    cursor: default;
    transition: 0.07s linear;
    border-radius: 3px;
    color: #b853ac;
    padding: 1px 3px;
    margin: 0 -3px;
}
.mnlnk_dump .md_object .md_hash.md_highlight {
    color: #ffffff;
    background: #b662aa;
}
.mnlnk_dump .md_object .md_modifier {
    cursor: default;
    color: #71a168;
}
.mnlnk_dump .md_object .md_modifier.md_static {
    color: #da6d6d;
}
.mnlnk_dump .md_object .md_property {
    color: #294249;
}
.mnlnk_dump .md_object .md_not_init {
    color: #7c96a6;
}
.mnlnk_dump .md_type {
    color: #5a7c91;
}
.mnlnk_dump .md_unknown {
    color: #717f8c;
}
