.mnlnk_dump {
    background: #fefefe;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 2px;
    color: #656d73;
    font: 12px Consolas, Menlo, "SF Mono", monospace;
    line-height: 20px;
    position: relative;
}
.mnlnk_dump a {
    transition: color 0.07s linear;
    padding: 0 4px;
    text-decoration: none;
    cursor: pointer;
    color: #c1c9cf;
}
.mnlnk_dump .md_open > a {
    padding: 0 5px;
}
.mnlnk_dump a:hover {
    color: #72787d;
}
.mnlnk_dump .md_block {
    margin-left: -2px;
}
.mnlnk_dump .md_row {
    display: block;
}
.mnlnk_dump .md_content {
    display: none;
    padding-left: 20px;
    transition: border-left-color 0.03s linear;
    border-left: #f5f5f5 solid 1px;
    margin-left: 2px;
}
.mnlnk_dump .md_row:hover > .md_open > .md_content,
.mnlnk_dump .md_row:hover.md_open > .md_content {
    border-left: #bbc9d2 solid 1px;
}
.mnlnk_dump .md_open > .md_content {
    display: block;
}
.mnlnk_dump .md_brackets,
.mnlnk_dump .md_braces,
.mnlnk_dump .md_parentheses {
    cursor: default;
    color: #656d73;
}
.mnlnk_dump .md_brackets,
.mnlnk_dump .md_braces {
    margin: 0 -2px;
    border-radius: 2px;
    padding: 1px 2px 1px 2px;
    transition: 0.07s linear;
}
.mnlnk_dump .md_row > .md_open > .md_braces.md_highlight,
.mnlnk_dump .md_row > .md_open > .md_brackets.md_highlight {
    background-color: #e7786c;
    color: #f1f3f3;
}
.mnlnk_dump .md_operator {
    cursor: default;
    color: #8d959b;
}
.mnlnk_dump .md_null {
    color: #cd584c;
}
.mnlnk_dump .md_boolean {
    color: #cd584c;
}
.mnlnk_dump .md_number {
    color: #2879de;
}
.mnlnk_dump .md_string {
    color: #2b9142;
}
.mnlnk_dump .md_string .md_nel {
    color: #b9a80b;
}
.mnlnk_dump .md_string .md_collapse,
.mnlnk_dump .md_string.md_open > .md_expand {
    display: none;
}
.mnlnk_dump .md_string .md_expand,
.mnlnk_dump .md_string.md_open > .md_collapse {
    display: inline;
}
.mnlnk_dump .md_recursion {
    cursor: default;
    margin: 0 4px;
    border-radius: 2px;
    padding: 1px 3px;
    transition: 0.07s linear;
    color: #cd584c;
}
.mnlnk_dump .md_recursion:hover {
    color: #ffffff;
    background: #ea8c82;
}
.mnlnk_dump .md_array {
    /**/
}
.mnlnk_dump .md_object {
    /**/
}
.mnlnk_dump .md_object .md_namespace {
    color: #838b91;
}
.mnlnk_dump .md_object .md_namespace[data-ns] {
    cursor: pointer;
}
.mnlnk_dump .md_object .md_class {
    color: #998807;
}
.mnlnk_dump .md_object .md_hash {
    cursor: default;
    transition: 0.07s linear;
    border-radius: 2px;
    color: #b853ac;
    padding: 1px 3px;
    margin: 0 -3px;
}
.mnlnk_dump .md_object .md_hash.md_highlight {
    color: #ffffff;
    background: #bf77b5;
}
.mnlnk_dump .md_object .md_modifier {
    cursor: default;
    color: #eb5b4f;
}
.mnlnk_dump .md_object .md_property {
    color: #3b5057;
}
.mnlnk_dump .md_object .md_not_init {
    color: #95aebf;
}
.mnlnk_dump .md_type {
    color: #99a578;
}
.mnlnk_dump .md_resource {
    color: #9b8a0b;
}
.mnlnk_dump .md_unknown {
    color: #7e8a95;
}
